<h1>Courses#index</h1>
<p>Find me in app/views/courses/index.html.erb</p>

<%= link_to  "後台", new_course_path %>
<table>
  <% @courses.each do |course| %>
  <ul>
    <li><div class="course-title">課程：<%= course.title %></div></li>
    <li>內容：<%= course.context %></li>
    <li>課程價格：<%= course.course_amount %>（<%= course.money %>）</li>
    <li>階段：<%= course.course_type %></li>
    <li>購買截止日：<%= course.expiry_date %></li>
  </ul>
  <% end %>
</table>
