<h1>後台頁面</h1>

<%= link_to  "新增課程", new_course_path, :class => 'btn btn-primary' %>
<div class="container d-flex justify-content-around">
  <div class="row">
    <% @courses.each do |course| %>
    <div class="card col-xl-4 col-md-6 col-sm-12 mt-5 pr-3 pl-3">
      <ul class="list-group-flush card-body m-auto">
        <li class="list-group-item"><div class="course-title">課程：<%= course.title %></div></li>
        <li class="list-group-item">內容：<%= course.context %></li>
        <li class="list-group-item">課程價格：<%= course.course_amount %>（<%= course.money %>）</li>
        <li class="list-group-item">階段：<%= course.course_type %></li>
        <li class="list-group-item">購買截止日：<%= course.expiry_date %></li>
      </ul>
      <div class="course-action">
        <%= link_to  "Edit", edit_course_path(course), :class => 'btn btn-primary' %>
      </div>
    </div>
    <% end %>
  </div>

</div>
